html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script><style type="text/css"></style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}">
  </head>

  <body gram_dict="true">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Stock APP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'stocks:search' %}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>

          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="jumbotron">
        <div class="container">
            <h1></h1>
            <p>This is webapp with real time stock data and market news. This is mainly designed for newbies to learn with real time stock data and get news related to markets.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="col-lg-6">
        <form class="input-group" style="height: 10px">
            <input type="text" class="form-control" formaction="{% url 'stocks:search' %}" formmethod="GET" name="q" placeholder="Search for stocks(symbol)...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">search</button>
            </span>
        </form>
        {% if results %}
        <ul>
            {% for stocks in results %}
            <li><a href="{% url 'stocks:data' stocks.id %}">{{ stocks.symbol }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Please enter valid name of stock.
            For Example "TCS", "TATAMOTORS"</p>
        {% endif %}
    </div>
    <div class="page-header">
        <h1> TOP 100 STOCKS
            <small> According to market capitalization</small>
        </h1>
    </div>
    <div class="row">
        {% for stock in all_stocks %}
        <div class="col-sm-3">
            <a href="{% url 'stocks:data' stock.id %}">{{ stock.full_name }}</a>
            <br><br>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>



    <!--<div class="container">-->
        <!--<ul>-->
            <!--{% for stock in all_stocks %}-->
            <!--<li><a>{{ stock.symbol }}</a></li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--</div>-->













<!--<form method="GET" action="{% url 'stocks:search' %}">-->
      <!--<input type="text" name="q" />-->
      <!--<input type="submit" />-->
<!--</form>-->

<!--{% if results %}-->
    <!--<ul>-->
    <!--{% for stocks in results %}-->
        <!--<li><a href="{% url 'stocks:data' stocks.id %}">{{ stocks.symbol }}</a></li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
<!--{% else %}-->
    <!--<p>Please enter valid name of stock.-->
    <!--For Example "TCS", "TATAMOTORS"</p>-->
<!--{% endif %}-->

