.starter-template {
position: relative;
top:50px;
height:160px;
}

.col-lg-6{
position: relative;
top: 450px;
left: 300px;
}
.row{
position: relative;
top: 770px;
left: 100px;
}

.page-header{
position: relative;
top: 700px; 
right: 520px;
}
.jumbotron{
position: relative;
top: 350px;
} 

.Carousel{
height: 630px;
padding: 0;
margin: 0;
top: 0px;
}

.carousel-caption {
z-index: 10;
}

.carousel .item {
top: 0px;
width: 100%;
height: 630px;
background-color: #777;
}

.navbar-wrapper{
height: 0px;
}



